
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'kaizen-nguy-n-274069-unsplash.jpg' %>');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'monika-grabkowska-636668-unsplash'%>');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <%  if cocktail.doses != [ ] %>
            <h4><%= cocktail.doses.first.description %></h4>
            <h5><%= cocktail.doses.first.description %></h5>
            <% end %>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success btn-xs" %>
<!--       <%= link_to "all cocktails", cocktails_path, class: "btn btn-warning btn-xs" %>
-->

</div>

